.about__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h3 {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
  }

  p {
    line-height: 1.6;
    font-size: 16px;
  }
}

.app__jumbotronSmall.about__sectionPanels {
  padding: 0;
}

.about__sectionItem {
  border: 1px solid #e0e0e0;
  border-top: none;
  padding: 3%;

  &:first-child {
    border-top: 1px solid #e0e0e0;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0.5rem 0 1rem 1.5rem;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;

    li {
      margin-bottom: 0.5rem;
    }
  }
}

.about__mv {
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 50px;
}

.about__mvItem {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 768px) {
  .about__desc {
    h1 {
      margin-bottom: 20px;
    }
  }


  .about__mv {
    grid-template-columns: 12fr;
    grid-column-gap: 0px;
  }

  .about__mvItem {
    h1 {
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      text-align: center;
    }
  }

  .vision {
    margin-top: 50px;
  }
}
