.home__main {
  width: 94%;
  max-width: 1770px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 50px;
}

.home__jumboImg {
  width: 90%;
}

.home__mainDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1 {
    font-weight: bold;
    font-size: 85px; // 50 * 1.7
  }

  .home__heroTitle {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 82px; // 48 * 1.7
    line-height: 1.2;
    letter-spacing: -0.02em;
    background: linear-gradient(90deg, #00fff7 0%, #00d4ff 25%, #7b2ff7 50%, #f107a3 75%, #00fff7 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    margin-bottom: 0.5em;
  }

  .home__heroText {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 31px; // 18 * 1.7
    font-weight: 400;
    line-height: 1.6;
    color: #525252;
    max-width: 32em;
  }

  p {
    line-height: 1.6;
    font-size: 34px; // 20 * 1.7
  }
}

.home__subDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1 {
    font-weight: bold;
    font-size: 68px; // 40 * 1.7
  }

  p {
    line-height: 1.6;
    font-size: 27px; // 16 * 1.7
  }
}

.home__whyChoose {
  display: flex;
  flex-direction: column;
  width: 94%;
  max-width: 1770px;
  margin-right: auto;
  margin-left: auto;

  h1 {
    font-size: 68px; // 40 * 1.7
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.25rem;
  }
}

.home__whyChooseGrid {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 50px;
  grid-row-gap: 0;
  align-items: stretch;
  border: 1px solid #e0e0e0;
}

.home__whyChooseItem {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 50px;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-top: none;
  padding: 2rem;
  grid-column: 1 / -1;

  &:first-child {
    border-top: 1px solid #e0e0e0;
  }

  img {
    width: 100%;
  }
}

.home__whyChooseDesc {
  h2 {
    font-size: 41px; // 24 * 1.7
    font-weight: bold;
    font-style: normal;
    margin-bottom: 30px;
  }

  p {
    font-size: 27px; // 16 * 1.7
    line-height: 1.6;
  }
}

@media screen and (max-width: 768px) {
  .home__main {
    grid-template-columns: 12fr;
  }

  .home__jumboImg {
    margin: auto;
    width: 80%;
  }

  .home__mainDesc {
    h1 {
      font-weight: bold;
      font-size: 68px;
    }

    p {
      margin-top: 50px;
      line-height: 1.6;
      font-size: 34px;
    }

    input {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .home__subDesc {
    h1 {
      margin-top: 50px;
    }

    p {
      margin-top: 50px;
      line-height: 1.6;
      font-size: 34px;
    }
  }

  .home__whyChoose {
    h1 {
      font-size: 54px; // 32 * 1.7
      text-align: center;
    }
  }

  .home__whyChooseGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    align-items: center;
  }

  .home__whyChooseItem {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  .home__whyChooseDesc {
    h2 {
      margin-top: 30px;
      text-align: center;
    }
  
    p {
      text-align: center;
    }
  }
}
